$primary   = #ff5722
$point     = #ebab39
$secondary = #26A69A
$tertiary  = #555

$grey      = #989898
$font       = #363636
$background   = #f2f7f8
$darkgrey  = #5a5a5a
$warmgrey   = #dbdbdb
$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$page-width = 1200px

$app-primary = #3bbc97


// UI Builder
$left-menu = 280px
$mobileW = 360px
$mobileH = 592px
$mobileT = 154px
$mobileL = 502px
$pcW = 1200px
$pcH = 780px
$pcT = 134px
$pcL = 489px


// Ui Builder Fixed Position
// $cntl-top = 40px
// $cntl-left = 20px
// $preview-top = 175px
// $preview-left = 656px

// Nuxus 5
$preview-width = 360px
$preview-height = 640px


body
  margin 0 !important


/*
.page-enter-active
.page-leave-active
  transition opacity .3s

.page-enter
.page-leave-to
  transform translateX(320px)
*/
